include layouts/navbar
block content
  .container.pt-4
    .row
      .col-lg-12.pt-2
        .card
          .card-header
            h5 Mapa
          .card-body.p-0
            #mapid      
           


include layouts/footer
script(src="/javascripts/map.js")