include ../layouts/navbar

block content 
    .container.pt-4
        .row
            .col-lg-12
                table.table.table-striped.table-hover
                    thead
                        tr
                            th(scope="col") #
                            th(scope="col") Color
                            th(scope="col") Modelo
                            th(scope="col") Ubicacion
                            th(scope="col") Acciones
                            th(scope="col") 

                    tbody
                        each bici in bicicletas
                            tr
                                th(scope="row")=bici.id
                                th=bici.color
                                th=bici.modelo
                                th=bici.ubicacion
                                th  
                                    form.inline(method="post",action="/bicicleta/"+bici.id+"/delete")
                                        input(type="hidden" name="id" value=bici.id)
                                        button(type="submit").btn.btn-danger.btn-block="Eliminar"

                                th
                                    form.inline(method="get",action="/bicicleta/"+bici.id+"/show")
                                        
                                        button(type="submit").btn.btn-warning.btn-block="Modificar"    


include ../layouts/footer
