include ../layouts/navbar

block content 
    .container
        .row
            .col-lg-4.mx-auto.pt-4
                .card
                    .card-header
                        .h3
                            |Modificar Bicicleta

                    .card-body
                        form(action="/bicicleta/update",method="post") 
                            input(type="hidden", name="id",value=bicicleta.id)
                            .form-group
                                label(for="color") Color:
                                input(type="text", name="color",value=bicicleta.color).form-control
                            .form-group
                                label(for="modelo") Modelo:
                                input(type="text", name="modelo",value =bicicleta.modelo).form-control
                            .form-group
                                label(for="coordenadaX") CoordenadaX:
                                input(type="text", name="coordenadaX",value=bicicleta.ubicacion[0]).form-control
                            .form-group
                                label(for="coordenadaY") CoordenadaY:
                                input(type="text", name="coordenadaY",value=bicicleta.ubicacion[1]).form-control
                            .form-group
                                input(type="submit").btn.btn-primary.btn-block                                     
                                input(type="reset",value="Borrar Campos").btn.btn-info.btn-block                                     


include ../layouts/footer


